// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// h3 {
//   text-align: center;
// }

.body {
  font-family: 'Ubuntu', sans-serif;
}

#text_area {
  border-radius: 10px;
}

.headers {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-image: url("balloons.jpg");
}

.register h1 {
  display: inline-block;
  margin-left: 13px;
}

#prof_header {
  text-align: center;
}

.prof_link {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.add_form {
  display: inline-block;
  width: 200px;
}

.hand {
  float: left;
  // text-align: left;
  margin: 7px 0px 0px 10px;
  display: inline-block;
}

.controls {
  width: 200px;
}

.row {
  width: 200px
}

.control-group {
  width: 200px;
}

.input-append {
  width: 200px;
  display: block;
  // margin: 0 auto;
  margin-left: 14px;
}

.goals {
  padding-left: 10px;
  width: 29.7%;
  display: inline-block;
  height: 450px;
  overflow: scroll;
  background: rgb(255, 255, 255) transparent;
  background: rgba(255, 255, 255, 0.8);
  // background-color: lightgreen;
}

.middle {
  background-image: url("goals.jpg");
  display: inline-block;
  height: 450px;
  width: 40%;
}

.others {
  display: inline-block;
  // float: right;
  padding-right: 10px;
  width: 29.7%;
  padding-left: 10px;
  height: 450px;
  overflow: scroll;
}

#add_goal {
  margin: 0 auto;
  display: block;
}

.failed_form {
  display: inline-block;
}

.fist {
  float: right;
  // text-align: right;
  display: inline-block;
  margin-right: 10px;
  padding-left: 150px;
}

#failed_btn {
  margin-left: 10px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 5px;
}

#countdown {
  display: inline-block;
  float: right;
  padding-right: 10px;
  margin-top: 12px;
}

#field1 {
  border-radius: 15px;
}
